.col-lg-4{
	padding: 25px;
}
#galeria img{
	width: 100%;
	height: 200px;
	border-radius: 20px;
}
#galeria img:hover{
	border: 5px solid #34495E ;
	border-radius: 20px;
}
.carousel-inner img{
	width: 100%;
	height: 50%;
	border-radius: 20px;
}
.nav-item{
	color: white;
}
